
.StudentList {
    /*background: #ece9e0;*/

    border: 2px solid #ece9e0;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

li {
    list-style-type: none;
}

.Item {
    margin: 10px;
}
.Container {
    text-align: center;
}


