* { margin: 0; padding: 0; }

body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

.Container {
  text-align: center;
  background: ;
}

div {
  /*border: 2px solid black;*/
}

h1 {
  margin: 20px;
}

h1, ul {
  color: #ece9e0;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-family: sans-serif;
  border-spacing: 0px;
  color: #ece9e0;
  border: 2px solid #ece9e0;
  border-radius: 20px;
}

th {
  background-color: rgba(255,255,255,0.3);

  font-size: 18px;
  padding: 10px;
  text-transform: uppercase;


}

td {
  border: 1px solid rgba(255,255,255,0.3);
  padding: 10px;
}


